<div ng-init="loadanswer()" ng-controller="askController">
  <form><center><h3>All Questions</h3></center>
    <hr>
    <div class="w3-twothird w3-container">
      <h3 class="w3-text-teal"></h3>
      <table>
        <br><br>
        <br>
        <div  ng-controller="tourController" dir-paginate="profile in answers |filter:search|itemsPerPage:5">
          <div class="well well-lg">
       <p ng-model="profile.questionw"> {{ profile.title }} </p>
       <button  ng-click="deletequestion(profile._id)"> Question Delete</button><br>
        <div ng-repeat='ans in profile.answer'>
              <b>Answer:</b> <br> <p ng-bind-html="ans.answer"></p></p><button  ng-click="deleteanswer(ans._id)"> Answer Delete</button></div> <br>
            <br><hr>
          </div>
        </div>
      </table>
  <dir-pagination-controls
  max-size="5"
  direction-links="true"
  boundary-links="true" >
  </dir-pagination-controls>
</div>
